/**
 * Author: Felipe Menezes <contato@felipemenezes.com.br>;
 * Description: Estilos gerais para o painel de administração;
 * Version: 1.0.0.0;
 * Tags: Fusy, Framework, style, setup;
 */

body {
	margin: 0;
	padding: 0;
	font-family: "Commissioner", arial;
}

.wrapper {
	height: 100%;
}

.clearfix {
	display: block !important;
	clear: both !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.setup-header .vr {
	width: 1px;
	background: #DDD;
	height: 26px;
	float: left;
	margin: 6px 10px;
}

/*-------------------------
  Menu flutuante padrão
  -------------------------*/
.floating-box {
	position: absolute;
	top: 100%;
	width: 250px;
	background: #FFF;
	box-shadow: 0 6px 10px rgba( 0, 0, 0, 0.1 );
	border-radius: 4px;
	padding: 10px 0;
	border: 1px solid #F4F4F4;
	z-index: 100;
	-webkit-transition: 0.3s top;
	-moz-transition: 0.3s top;
	transition: 0.3s top;
	display: none;
}

ul.default-link-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.default-link-menu li a {
	display: block;
	color: #444;
	padding: 8px 15px;
	font-size: 14px;
	font-weight: normal;
}

ul.default-link-menu li a:hover {
	background: #F4F4F4;
}

ul.default-link-menu li.current a {
	font-weight: bold;
}

/*-------------------------
  Cabeçalho
  -------------------------*/
.setup-header {
	position: fixed;
	background: #FFFFFF;
	padding: 6px 30px;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.08 );
	z-index: 999999;
}

.user-floating-box.floating-box {
	width: 300px;
	right: 0;
	margin-top: 8px;
}

.user-options {
	float: left;
	display: table;
	outline: none;
	margin: -6px 0;
	position: relative;
}

.user-options .user-info {
	display: table-cell;
	vertical-align: middle;
	max-width: 300px;
	user-select: none;
	cursor: pointer;
	position: relative;
	padding: 6px 15px;
	-webkit-transition: 0.3s background-color;
	-moz-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.user-options.show .user-info,
.user-options:hover .user-info {
	background: #F6F6F6;
}

.user-options .ui-picture {
	display: inline-block;
	overflow: hidden;
	border-radius: 20px;
	width: 38px;
	height: 38px;
	vertical-align: middle;
}

.user-options .ui-picture img {
	display: block;
	width: 100%;
	height: auto;
}

.user-options .ui-name {
	margin: 0 0 0 10px;
	max-width: 240px;
	display: inline-block;
	vertical-align: middle;
}

.user-options .ui-name h4 {
	margin: 0;
	color: #666;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
}

.user-options .ui-name h5 {
	margin: 0;
	font-weight: normal;
	font-size: 12px;
	color: #999;
}

.user-options .user-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-options .user-menu a {
	display: block;
	padding: 10px 30px 10px 71px;
	color: #666;
	font-size: 14px;
	position: relative;
}

.user-options .user-menu a:hover {
	background: #F6F6F6;
}

.user-options .user-menu .icon {
	position: absolute;
	top: 5.5px;
	left: 30px;
	width: 26px;
	height: 26px;
	background: #DDD;
	overflow: hidden;
	border-radius: 13px;
	line-height: 26px;
	text-align: center;
	color: #888;
}

.user-options .user-menu .icon img {
	width: 100%;
	height: auto;
	display: block;
}

.user-options .user-menu hr {
	border: none;
	height: 1px;
	background-color: #E4E4E4;
	margin: 10px 0;
}

/*-------------------------
  Menu de opções especiais
  -------------------------*/
.user-special-options {
	float: left;
	margin-right: 15px;
	margin-top: 1px;
}

.user-special-options .user-opt {
	float: left;
	position: relative;
}

.user-special-options .floating-box  {
	width: 400px;
	right: 50%;
	margin-right: -200px;
	margin-top: 14px;
}

.user-special-options .user-opt > a {
	font-size: 16px;
	display: block;
	width: 36px;
	height: 36px;
	color: #999;
	border-radius: 18px;
	text-align: center;
	line-height: 36px;
	margin-left: 15px;
}

.user-special-options .user-opt > a:hover,
.user-special-options .user-opt > a.actived {
	background: #EEE;
}


/*-------------------------
  Menu lateral
  -------------------------*/
.setup-menu {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	overflow: auto;
	background: #FFF;
	width: 299px;
	z-index: 9999;
	border-right: 1px solid #EEE;
}

.setup-main-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 84px;
	padding: 20px 0;
	width: 100%;
	overflow: auto;
}

.setup-main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.setup-main-menu ul li a {
	display: block;
	padding: 8px 30px 8px 60px;
	color: #666;
	font-weight: bold;
	position: relative;
}

.setup-main-menu > ul > li {
	-webkit-transition: 0.3s background-color;
	-moz-transition: 0.3s background-color;
	transition: 0.3s background-color;
	margin-bottom: 3px;
}

.setup-main-menu > ul > li:hover {
	background: #F4F4F4;
}

.setup-main-menu > ul > li.hightlight {
	background: #EEE;
}

.setup-main-menu li.hightlight > ul {
	background: #F4F4F4;
}

.setup-main-menu > ul > li > a > span.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
	font-size: 12px;
	background: #2196f3;
	text-align: center;
	color: #FFF;
	position: relative;
	margin-left: -30px;
}

.setup-main-menu ul li a span.title {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-left: 15px;
	vertical-align: middle;
}

.setup-main-menu ul li li a span.title {
	display: block;
}

.setup-main-menu ul li li a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.setup-main-menu li ul li:hover > a,
.setup-main-menu li ul li.hightlight > a {
	color: #2196f3;
}

.setup-main-menu .item-level-2 > a {
	padding-left: 60px;
}

.setup-main-menu .item-level-3 > a {
	padding-left: 80px;
}

.setup-main-menu .item-level-4 > a {
	padding-left: 100px;
}

.setup-main-menu .item-level-5 > a {
	padding-left: 120px;
}

.setup-main-menu .item-level-6 > a {
	padding-left: 140px;
}

.setup-main-menu li.has-submenu > a:after {
	content: "\f078";
	font-family: "Font Awesome 5 Free";
	right: 15px;
	position: absolute;
	font-size: 14px;
	top: 10.5px;
}

.setup-main-menu li.has-submenu.selected > a:after {
	content: "\f077";
}

.setup-main-menu li.item-level-1.has-submenu > a:after {
	top: 15.5px;
}

.setup-main-menu > ul ul {
	display: none;
	padding: 6px 0;
}

.setup-main-menu li.has-submenu.selected > ul {
	display: block;
}

.setup-basic-menu {
	position: absolute;
	bottom: 0;
	padding: 10px 20px;
}

.setup-basic-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
}

.setup-basic-menu ul li {
	float: left;
	margin-right: 20px;
	padding-top: 5px;
}

.setup-basic-menu ul li a {
	color: #666;
	font-weight: bold;
}

.setup-basic-menu ul li a:hover {
	color: #2196f3;
}

.setup-basic-menu ul li a i {
	font-size: 15px;
	position: relative;
	bottom: -1px;
}

/*-------------------------
  Body
  -------------------------*/
.setup-body {
	padding-top: 50px;
	padding-bottom: 36px;
	top: 0;
	left: 300px;
	right: 0;
	position: absolute;
	box-sizing: border-box;
	min-height: 100%;
}

.mini-tabs-box {
	position: relative;
	background: #FFF;
	z-index: 99999;
}

.mini-tabs-nav {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.mini-tabs-box.overflowing .mini-tabs-nav {
	display: block;
}

.mini-tabs-nav .mini-tabs-simple-nav {
	float: left;
	position: relative;
}

.mini-tabs-nav .mini-tabs-simple-nav .floating-box {
	left: auto;
	right: 0;
}

.mini-tabs-nav button.mini-tabs-nav-act {
	font-size: 14px;
	line-height: 40px;
	width: 30px;
	height: 40px;
	background: #FFF;
	text-align: center;
	outline: none;
	border: 1px solid #EEE;
	border-width: 0 0 0 1px;
	box-sizing: border-box;
	float: left;
	cursor: pointer;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
	color: #444;
}

.mini-tabs-nav button.mini-tabs-nav-act:hover,
.mini-tabs-nav button.mini-tabs-nav-act.actived {
	color: #2196f3;
}

.mini-tabs-nav button.mini-tabs-nav-act.disabled {
	cursor: default;
	color: #DDD;
}

.mini-tabs-wrapper {
	height: 40px;
	overflow: hidden;
}

.mini-tabs-box.overflowing .mini-tabs-wrapper {
	margin-right: 80px;
}

.mini-tabs-container {
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	width: 100%;
	height: 80px;
}

.mini-tabs-itens {
	width: 100%;
	position: relative;
	overflow: hidden;
	min-width: 100%;
}

.mini-tabs-itens .mini-tab {
	float: left;
	background: #FFF;
	border-top: 4px solid #DDD;
	padding: 10px 40px 10px 25px;
	position: relative;
	user-select: none;
	margin-right: 10px;
	color: #666;
	-webkit-transition: border-color 0.4s;
	-moz-transition: border-color 0.4s;
	transition: border-color 0.4s;
}

.mini-tabs-itens .mini-tab:last-child {
	margin-right: 0;
}

.mini-tabs-itens .mini-tab:hover {
	border-color: #BBB;
}

.mini-tabs-itens .mini-tab.selected {
	border-color: #2196f3;
}

.mini-tabs-itens .mini-tab h4 {
	float: left;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
	height: 16px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mini-tabs-itens .mini-tab a.close-act {
	position: absolute;
	line-height: 16px;
	font-size: 14px;
	color: #DDD;
	font-weight: normal;
	width: 10px;
	top: 50%;
	right: 15px;
	margin-top: -7px;
}

.mini-tabs-itens .mini-tab a.close-act:hover {
	color: #2196f3;
}

.mini-tabs-itens .mini-tab.fixed-tab {
	padding-right: 25px;
}

.mini-tabs-itens .mini-tab.fixed-tab a.close-act {
	display: none;
}

.page-head {
	padding: 15px 25px;
	background: #F6F6F6;
}

.page-crumb-title {
	float: left;
}

.page-crumb-title > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-crumb-title > ul > li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #666;
	cursor: default;
	position: relative;
}

.page-crumb-title > ul > li > a {
	color: #666;
	display: inline-block;
	vertical-align: top;
	max-width: 240px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.page-crumb-title > ul > li > a:hover {
	color: #2196f3;
}

.page-crumb-title > ul > li.current {
	color: #AAA;
}

.page-crumb-title > ul > li > span.arrow {
	margin: 0 10px;
}

.page-crumb-title > ul > li > span.crumb-nav-btn {
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
	color: #CCC;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}

.page-crumb-title > ul > li > span.crumb-nav-btn:hover,
.page-crumb-title > ul > li > span.crumb-nav-btn.actived {
	cursor: pointer;
	color: #999;
}

.page-crumb-title > ul > li > .floating-box {
	width: 200px;
	right: 0;
	margin: 10px -57px 0 0;
	z-index: 10000;
}

.page-crumb-title > ul > li.current > .floating-box {
	margin-right: -95px;
}

.page-actions {
	float: right;
	padding: 5px 0;
}

.page-actions a {
	float: left;
	color: #999;
	font-size: 16px;
	margin-left: 40px;
	width: 16px;
	height: 18px;
	line-height: 18px;
	text-align: center;
}

.page-actions a.close,
.page-actions a.help {
	font-size: 18px;
	line-height: 16px;
}

.page-actions a.refresh:hover,
.page-actions a.refresh:focus {
	-webkit-animation: rotateCenter 1s linear infinite;
	-moz-animation: rotateCenter 1s linear infinite;
	animation: rotateCenter 1s linear infinite;
}

.page-actions a:hover,
.page-actions a.selected {
	color: #2196f3;
}

.mini-tab-page {
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0;
	right: 0;
}

.mini-tab-page .easyform-preloader.tab-preloader {
	top: 50px;
	padding-top: 40px;
	left: 300px;
	z-index: 1000;
	height: auto;
	width: auto;
	right: 0;
	bottom: 36px;
}

.page-body {
	padding: 0 25px 36px 25px;
}


/*-------------------------
  Rodapé
  -------------------------*/
.setup-footer {
	position: fixed;
	bottom: 0;
	left: 300px;
	right: 0;
	z-index: 9999;
	padding: 10px 25px;
	box-sizing: border-box;
	background: #FFF;
	border-top: 1px solid #EEE;
}

.setup-footer-wrapper {
	height: 15px;
	overflow: hidden;
}

.setup-footer .copy,
.setup-footer .version {
	float: left;
	color: #666;
	font-size: 13px;
	line-height: 15px;
}

.setup-footer .version {
	float: right;
}

.setup-footer .version span {
	margin-left: 10px;
}


/*-------------------------
  Páginas de erro
  -------------------------*/
.tab-error-page-container {
	height: 100%;
}

.tab-error-page-wrapper {
	padding: 25px 25px 61px 25px;
	text-align: center;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.tab-error-page {
	display: table-cell;
	vertical-align: middle;
}

.tab-error-page h1 {
	font-size: 100px;
	line-height: 80px;
	margin: 0;
	color: #FFF;
	font-family: Arial;
	-webkit-text-stroke: 1px black;
}

.tab-error-page h2 {
	font-size: 24px;
	margin: 40px 0 10px 0;
	color: #666;
}

.tab-error-page p {
	font-size: 16px;
	max-width: 400px;
	margin: 0 auto 20px auto;
	color: #666;
}

.tab-error-page .type-button {
	margin: 0 10px;
}


/*-------------------------
  Janelas modais padrão
  -------------------------*/
.easyform-modal.favorite-options {
	max-width: 400px;
}

.easyform-modal.favorite-options .fav-folder-select label span,
.easyform-modal.favorite-options .fav-folder-create label span	 {
	font-weight: bold;
}

.easyform-modal.favorite-options .fav-folder-create {
	margin-top: 25px;
}


/*-------------------------
  Links Cards
  -------------------------*/
.link-cards-wrapper {
	padding: 9px 0 25px 0;
	margin: 0 -8px 0 -8px;
}

.link-cards-wrapper .link-card-item {
	float: left;
	width: 20%;
}

.link-cards-wrapper a.link-card {
	display: block;
	background: #666;
	color: #FFF;
	text-align: center;
	padding: 30px 0;
	margin: 16px 8px 0 8px;
	box-sizing: border-box;
	position: relative;
	border-radius: 6px;
}

.link-cards-wrapper a.link-card i {
	font-size: 30px;
	margin-bottom: 15px;
}

.link-cards-wrapper a.link-card span {
	font-size: 16px;
	display: block;
	line-height: 14px;
	display: block;
}

.link-cards-wrapper a.link-card:hover {
	background: #2196f3;
}

.link-card-page-menu {
	position: relative;
	padding: 25px 0;
}

.link-card-page-menu .all-cards-nav {
	float: right;
	position: relative;
}

.link-card-page-menu .all-cards-nav .drop-down-menu {
	right: 0;
	z-index: 1000;
	margin-top: 10px;
}

.link-card-page-menu a.page-back-link,
.link-card-page-menu .all-cards-nav a.drop-down-handler {
	color: #666;
	font-size: 16px;
	float: left;
}

.link-card-page-menu .page-back-link:hover,
.link-card-page-menu .all-cards-nav a.drop-down-handler:hover,
.link-card-page-menu .all-cards-nav a.drop-down-handler.actived {
	color: #2196f3;
}

.link-card-page-menu .page-back-link i {
	margin-right: 10px;
}

.link-card-page-menu .all-cards-nav a.drop-down-handler i {
	margin-left: 10px;
	position: relative;
	bottom: -2px;
}

/*-------------------------
  Gold Tabs
  -------------------------*/
.gold-tabs-wrapper {
	position: relative;
	margin: 0 -25px 0 -25px;
}

.gold-tabs-wrapper .gold-tabs-items {
	background: #EEE;
}

.gold-tabs-wrapper a.gold-tab-item {
	float: left;
	color: #444;
	padding: 15px 25px;
	text-align: center;
	background: #EEE;
	z-index: 1;
}

.gold-tabs-wrapper a.gold-tab-item:hover {
	background: #E4E4E4;
}

.gold-tabs-wrapper a.gold-tab-item.selected {
	background: #FFF;
}

.gold-tabs-wrapper a.gold-tab-item h4,
.gold-tabs-wrapper a.gold-tab-item h5 {
	font-weight: normal;
	margin: 0;
}

.gold-tabs-wrapper a.gold-tab-item h5 {
	color: #999;
}

.gold-tabs-wrapper a.gold-tab-item h4 i {
	margin-right: 8px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.gold-tabs-wrapper .gold-tabs-form {
	padding: 25px;
}

/*-------------------------
  Biblioteca de imagens
  -------------------------*/
.easyform-modal.general-image-library {
	max-width: 800px;
}

ul.image-select-list {
	list-style: none;
	margin: -10px -5px 0 -5px;
	padding: 0;
	overflow: hidden;
}

ul.image-select-list li {
	float: left;
	width: 20%;
	margin-top: 10px;
}

ul.image-select-list li input {
	position: absolute;
	z-index: 0;
}

ul.image-select-list li div.image-select-item {
	height: 136px;
	overflow: hidden;
	border: 5px solid #EEE;
	background: #EEE;
	position: relative;
	cursor: pointer;
	z-index: 1;
	-webkit-transition: background-color 0.2s, border-color 0.2s;
	-moz-transition: background-color 0.2s, border-color 0.2s;
	transition: background-color 0.2s, border-color 0.2s;
	margin: 0 5px;
}

ul.image-select-list li:hover div.image-select-item {
	border-color: #CCC;
	background-color: #CCC;
}

ul.image-select-list li div.image-select-item-wrap {
	width: 300%;
	position: absolute;
	height: 100%;
	left: -100%;
	top: 0;
}

ul.image-select-list li div.image-select-item-wrap img {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
}

ul.image-select-list input:checked + div.image-select-item {
	border-color: #2196f3;
	background-color: #2196f3;
}

.easyform-modal.general-image-library a.load-more {
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
}

/*-------------------------
  Tabelas do EasyForm
  -------------------------*/
.page-body .easyform-table-form {
	margin: 0 -25px;
}

.page-body .easyform-table .ef-table-top,
.page-body .easyform-table .ef-table-bottom {
	padding-left: 25px;
	padding-right: 25px;
}

.page-body .ef-table-header tr th:not([style*="display:none"]):first-child {
	padding-left: 10px;
}

.page-body .ef-table-header tr th:not([style*="display:none"]):first-child .vertical-copy {
	left: 21px;
}

.page-body .ef-table-footer tr td:not([style*="display:none"]):first-child,
.page-body .ef-table-body tr td:not([style*="display:none"]):first-child {
	padding-left: 25px;
}

.page-body .ef-table-header tr th:not([style*="display:none"]):last-child {
	padding-right: 10px;
}

.page-body .ef-table-footer tr td:not([style*="display:none"]):last-child,
.page-body .ef-table-body tr td:not([style*="display:none"]):last-child {
	padding-right: 25px;
}

/*-------------------------
  Animações para elementos
  -------------------------*/
@keyframes rotateCenter {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate( 360deg );
		transform: rotate( 360deg);
	}
}