/**
 * Author: Felipe Menezes <contato@felipemenezes.com.br>;
 * Description: Estilos gerais para formulários de usuário do Fusy Framework;
 * Version: 1.0.0.0;
 * Tags: Fusy, Framework, style, user, login, signup;
 */

body {
	margin: 0;
	padding: 0;
	font-family: "Commissioner", arial;
	background: #32474c;
}

a {
	color: #2196f3;
	outline: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

a:hover {
	color: #1976d2;
}

.clearfix {
	display: block !important;
	clear: both !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

/** Formulários de login e cadastro de usuários */
.user-content-wrapper,
.error404-content-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.user-form-wrapper {
	margin: 20px auto;
	width: 450px;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
	background: #FFF;
	padding: 60px;
	box-sizing: border-box;
}

.user-form-body .easyform-field.type-text {
	padding: 10px;
}

.user-form-body .easyform-form-title h1 {
	margin-bottom: 20px;
	font-weight: bold;
	color: #666;
}

.user-form-body .easyform-form-title h3 {
	margin-bottom: 20px;
	margin-top: -10px;
	color: #999;
}

.user-form-body form.easyform {
	position: relative;
}

.user-form-body .forgot {
	position: absolute;
	bottom: 10px;
	right: 10px;
	line-height: 16px;
	font-size: 16px;
}

.user-form-body .cancel {
	position: absolute;
	bottom: 0;
	right: 0;
}

.user-form-body .signup,
.user-form-body .signin {
	margin-top: 30px;
	color: #666;
}

.user-form-body .select-gender .checklist-wrap > li {
	display: inline-block;
	margin-right: 20px;
}

.user-form-body input.remember-check + span.handler + span.legend {
	font-weight: bold;
}

/** Página de erro 404 */
.error404-body {
	max-width: 400px;
	padding: 20px;
	margin: 0 auto;
	color: #FFF;
	text-align: center;
}

.error404-body h1 {
	margin: 0;
	font-size: 150px;
}

.error404-body h3 {
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
}

.error404-body p {
	margin: 20px 0;
}