/**
 * Author: Felipe Menezes <contato@felipemenezes.com.br>;
 * Description: Estilos gerais para formulário de instalação do Fusy Framework;
 * Version: 1.0.0.0;
 * Tags: Fusy, Framework, style, install, installation;
 */

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Commissioner", arial;
	background: #DDD;
	display: table;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.install-body {
	background: #FFF;
	border-radius: 10px;
	width: 80%;
	margin: 20px auto;
	max-width: 800px;
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.install-header {
	border-radius: 9px 9px 0 0;
	padding: 40px 60% 40px 40px;
	background: #2196f3;
	color: #fff;
	margin: -40px -40px 40px -40px;
}

.install-title {
	margin: 0;
	font-weight: normal;
}

.install-legend {
	margin: 10px 0 0 0;
}

.install-body hr {
	height: 1px;
	border: none;
	background: #EEE;
	margin: 0 -30px;
}

.install-body .ef-notification {
	border-radius: 0;
	margin: 0 -40px;
}

.install-body .ef-notification .ef-notif-body,
.install-body .ef-notification .ef-notif-detail {
	padding-left: 40px;
	padding-right: 40px;
}

.install-body .ef-notification .ef-notif-actions {
	margin-right: 40px;
}

.install-body div#termsWrap {
	position: relative;
	overflow: auto;
	width: auto;
	display: block;
	margin: 0 10px 10px 10px;
	border: 1px solid #DDD;
	height: 300px;
	min-height: 300px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	color: #999;
	resize: vertical;
}